<!DOCTYPE html>
{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load static %}

{% block content %}

<main>
<div class="2nav navbar" style="margin-top: 9px; max-width: 100%; border: solid 1px white" >
     <div class="">
        <form method="POST">  
         <div style="" class="col-md-4">
           {% csrf_token %}
           <div><p class="btn btn-primary" style="margin-top: 8px; margin-bottom: 8px;">{{  filter_categories_form  }}</p></div>
            
         </div> 
         <div class="col-md-4"> 
         <input type="submit" class="btn btn-primary" style="margin-top: 8px;" value="Sort by Category" name="category-filter-form">
         </div> 
        </form>
        </div>
        <div class="col-md-4">
        <form method="POST">
          
              {% csrf_token %}
              <div class="form">
                <a class="" href="/"><button type="submit" class="btn btn-primary" style="margin-top: 8px;" name="back">Show all Products</button></a>
              
           </div>
        </form>
        </div>
    </div>

<div class="container-flex">
    <div class="row" style="display: flex; flex-wrap: wrap;">
    {% for product in products %}
        <div class="col-md-3 display panel panel-default" style="justify-content: center;">
            <div class="panel-body" style="padding-top: 50px;">
                
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                
                <h4>Category: {{ product.category.title }}</h4>
               
                <h5>{{ product.category.description }}</h5>
                <p class="product-description">{{ product.description }}</p>
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ product.price }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="99" value="1" class="form-control" placeholder="Quantity: Please put a number here">
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="submit">Add to Cart</button>
                        </span>
                    </div>
                    
                </form>
            </div>
        </div>
    {% endfor %}

</div>

<div class="container"> 

{% if products.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
   {% if products.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
   {% else %}
    <li class="disabled"><span>Previous</span></li>
   {% endif %} 
   {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
    {% else %}
     <li class="disabled"><span>Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %} 

</div>
      </div>
  <div id="coding">
<p  id="demo"></p>
</div>

<button type="button" onclick="myFunction()">Delivery Options</button>
<button type="button" onclick="change()">Delivery Prices</button>
</main> 

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "1-2 Day, Less one week, Two weeks";
}

function change() {
        document.getElementById("demo").innerHTML = "Extra: &euro;10, Extra: &euro;5, Free of charge";      
    }

var hoverRatio = 1.2;

</script>    

{% endblock %}
