<!DOCTYPE html>
<h1 style="margin: 30px">Items</h1>
{% extends 'base.html' %}

{% load static from staticfiles %}
{% load bootstrap_tags %}
{% load static %}

{% block content %}

<div id="coding">
<p  id="demo">A Paragraph.</p>
</div>

<button type="button" onclick="myFunction()">Try it</button>
<button type="button" onclick="change()">Change</button>


<div class="container">

<div class="row">
<div class="col-xs-12 col-md-6">
    <form method="POST">
        <div class="form-row">
            {% csrf_token %}
            <div class="form-group col-md-4">
                <a class="navbar-brand" href="/"><button type="submit" class="btn btn-primary" name="back">Show all Precious</button></a>
            </div>
        </div>
    </form>
    </div>

<div class="col-xs-12 col-md-6">
    <form method="POST">
      <div style="" class="form-row">
        {% csrf_token %}
         <p> <label style="background-color:white;">{{  filter_categories_form  }}</label></p> 
        <div class="col-xs-12">
         <input type="submit" class="btn btn-primary" value="Show by Categories" name="category-filter-form">
         
        </div>
       </div>

    </form>
    </div>
</div>    
</div>
    
      

{% if products.has_other_pages %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
   {% if products.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
   {% else %}
    <li class="disabled"><span>Previous</span></li>
   {% endif %} 
   {% for i in products.paginator.page_range %}
      {% if products.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if products.has_next %}
     <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
    {% else %}
     <li class="disabled"><span>Next</span></li>
    {% endif %}
  </ul>
</nav>
{% endif %} 

<div class="container">
<div class="row justify-content-center">
    {% for product in products %}
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 display panel panel-default">
            <div class="panel-body" style="padding-top: 50px;">
                <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>

                <h3>{{ product.name }}</h3>
                
                <h4>Category: {{ product.category.title }}</h4>
               
                <h5>{{ product.category.description }}</h5>
                <p class="product-description">{{ product.description }}</p>
                <p><span class="glyphicon glyphicon-euro" aria-hidden="true"></span> {{ product.price }}</p>
                <form method="post" action="{% url 'add_to_cart' product.id %}">
                    {% csrf_token %}
                    <div class="input-group">
                        <input name="quantity" type="number" min="1" max="99" class="form-control" placeholder="Quantity: Please put a number here">
                        <span class="input-group-btn">
                            <button class="btn btn-warning" type="submit">Add to Cart</button>
                        </span>
                    </div>
                    <p>Starting Price for Bid: <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>{{ product.startingBidPrice }}</p>
                </form>
            </div>
        </div>
    {% endfor %}
</div>

<script>
function myFunction() {
  document.getElementById("demo").innerHTML = "Hell";
}

function change() {
        document.getElementById("demo").innerHTML = "That went well";      
    }

var hoverRatio = 1.2;

</script>

<!--<script src="{% static 'js/main.js' %}"></script>-->
</div>
{% endblock %}
