/*--------------------------------------------main------------------*/
body {
    font-family: Arial;
    padding-top: 50px;
    background-image: url("https://milestone-4-django-project.s3-eu-west-1.amazonaws.com/media/images/blue+backgr.jpg");
    background-color: antiquewhite;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;

}

/*--------------------------------------------text------------------*/
H1 {
    color:whitesmoke;
}

ul {
    list-style-type:none;
}

select {
   background-color: #55a8f0;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

/*--------------------------------------------navbar------------------*/
.navbar-default {
    border-color: gray;
    background-color: #999999;
    border-width: 0.2em;
    border-radius: 15px;
}
.navbar-default .navbar-brand:hover {
    background-color: #999999;
}

.navbar-collaps {
    background-color: gray ;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*--------------------------------------------product------------------*/
.container-fluid {
    width: 80%;
    background-color: lightgrey ;
}

.display {
    margin: 30px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 200px;
    height: 180px;
    margin: auto;
}

.panel-default {
    padding: 5px;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
/*--------------------------------------------footer------------------*/
footer {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #c0baba;
    color: darkslategrey;
    background-color: #1d9ce5
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {

    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: blue;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: black;
}
