<!DOCTYPE html>
{% extends 'base.html' %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block content %}
<h1>Shopping Cart</h1> <h4>Go to  payment with Checkout below</h4>

<a class="navbar-brand" href="/"><button type="submit" style="margin: 1em;" class="btn btn-primary" name="back">Go back to shop</button></a>
<div class="container" > <h3> You have  {{ product_count }} item in your shopping cart!</h3></div>
 
<br>  
<div class="row row-flex">
    {% for item in cart_items %}
    
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-display" style="margin:3px;">
        
        <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ item.product.image }}')"></div>
        
        <div class="caption">
            <h3>{{ item.product.name }}</h3>
            <h4>{{ item.product.category }}</h4>
            <h5>{{ product.category.description }}</h5>
            <p class="product-description">{{ item.product.description }}</p>
            <p class="glyphicon glyphicon-euro">{{ item.product.price }}</p>
            <p>    
                <form class="form-inline" method="post" action="{% url 'adjust_cart' item.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputAmount" class="sr-only">New Qty</label>
                        <div class="input-group">
                            <div class="input-group-addon">Qty</div>
                            <input name="quantity" type="number" min="0" max="99" class="form-control">
                            <div class="input-group-addon">{{item.quantity}}</div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Amend</button>
                </form>
            </p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row">
    <p>Total</p>
    <h4><span class="glyphicon glyphicon-euro" aria-hidden="true"></span><strong> {{ total }}</strong></h4>
    <a href="{% url 'checkout' %}" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span> Checkout</a>
</div>

{% endblock %}