<!DOCTYPE html>
<h1>All Categories</h1>
{% extends 'base.html' %}
{% block content %}

<div class="row row-flex">
  {% for category in categories %}
   <div class="panel panel-default">
     <div class="panel-body">
     <h3>{{ category.title }}</h3>
     <p class="category.description">{{ category.description }}</p>

    </div>
   </div>
  {%  endfor %}
</div>


<div class="row">
<form method="GET" action=".">
<div class="form-row">
<div class="form-group col-md-4">
            <label for="category">Category</label>
            <select id="category" class="form-control" name="category">
              <option selected>All</option>
              {% for cat in categories %}
              <option value="{{ cat }}">{{ cat }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </form>  
</div>



<div class="row">
        <ul>
          {% for category in categories %}
            <li>
              {{ category.title }}
              <span>Description: {{ category.description }}</span>
              <span>
                {% for cat in categories %}
                  {{ cat }}
                {% endfor %}
              </span>
              <span>Title: {{ category.title }}</span>
            </li>
            <hr />
          {% endfor %}
        </ul>
      </div>


<h3>Categories Filter Form</h3>
<form method="GET" action=".">

  <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="title_contains" placeholder="Title contains..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="id_exact" placeholder="ID exact..." />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>

        <div class="form-row">
            <div class="form-group col-12">
                <div class="input-group">
                    <input class="form-control py-2 border-right-0 border" type="search" name="description" placeholder="Search in description" />
                    <span class="input-group-append">
                        <div class="input-group-text bg-transparent">
                            <i class="fa fa-search"></i>
                        </div>
                    </span>
                </div>
            </div>        
        </div>

    <div class="form-group col-md-4">
      <label for="Category">Category</label>
      <select id="Category" class="form-control" name="category">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    
  <div class="form-group col-md-6">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck" name="image-checkbox">
      <label class="form-check-label" for="gridCheck">
        With image
      </label>
    </div>
  </div>
  <div class="col-md-5">
  <button type="submit" class="btn btn-primary ">Filter</button>
  </div>
</form>



{% endblock %}
